@import "tailwindcss";

@plugin '../hero.ts';

@config "../../tailwind.config.js";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Courier Prime";
  src: local("Courier Prime"),
    url("./fonts/Courier_Prime/CourierPrime-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Macondo";
  src: local("Macondo"),
    url("./fonts/Macondo/Macondo-Regular.ttf") format("truetype");
  font-weight: normal;
}

@theme {
  --font-macon: "Macondo", cursive;
}

@theme {
  --font-coupri: "Courier Prime", monospace;
}
